{% extends "bootstrap/base.html" %}
{{ super() }}
{% block content %}
{% if session.id == id %}
<h1>My account</h1>
<br>
<form action="/changepassword" method="POST">
    <div class="form-group col-2">
    <h3>Username: {{username}}</h3>
    <br>
    <h2>Change password</h2>
    </div>
    Enter current password:
    <div class="form-group col-2">
        <input type="password" class="form-control" id="inputPassword" name="passwordold">
    </div>

    Enter new password:
    <div class="form-group col-2">
        <input type="password" class="form-control" id="inputPasswordNew" name="passwordnew">
    </div>

    Re-enter new password:
    <div class="form-group col-2">
        <input type="password" class="form-control" id="inputPasswordNewRe" name="passwordnewre">
    </div>

    <div class="form-group col-2">
        <input type="submit" class="btn btn-primary" value="Change password">
    </div>

</form>
Delete account: to be implemented
{% else %}
Contact: to be implemented
{% endif %}
{% endblock %}